body {
    font-family: 'Roboto', sans-serif; 
    line-height: 1; 
    color: #033668;
    background-color: rgba(255, 224, 224, 0.769); 
}

header, section, footer {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

header {
    background: #78A2CC;
    color: #fff;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
    width: 100%; 
}

.header-logo {
    width: 50%; 
    height: auto; 
    max-height: 250px;
}

footer {
    background: #78A2CC;
    color: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.social-media-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px 0px 20px;
    max-width: 600px;
    margin: 0 auto;
}

.social-media-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 50px;
    margin: 10px;
    background-color: #006fb9;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.social-media-links svg {
    height: 30px;
    width: auto;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .social-media-links a {
        width: calc(50% - 20px); 
    }
}

.social-media-links .username {
    font-weight: bold;
}

.messenger-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;  
    height: 60px; 
    color: white;
    text-decoration: none;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
}

.messenger-icon {
    height: 50opx; 
    width: 50opx; 
    margin: 0 auto; 
}

.image-carousel-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.carousel-btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #78A2CC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.next-btn {
    top: 40px; /* Adjust this value as needed to lower just the 'Next' button */
}


.image-carousel {
    display: flex;
    overflow: hidden;
}

.carousel-image {
    min-width: 100%; 
    max-height: 300px;
    transition: transform 0.5s ease;
    display: none;
}

.carousel-image.visible {
    display: block;
}

.image-carousel-container h2 {
    color: #033668;
    margin-bottom: 10px;
}

.carousel-image {
    min-width: 100%; 
    max-height: 300px;
    transition: transform 0.5s ease;
    display: none;
    border: 5px solid rgb(109, 116, 219); 
    box-sizing: border-box; 
    box-shadow: 0 0 10px #333;
}

.carousel-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -160%); 
    color: #051650; 
    font-size: 30px; 
    pointer-events: none; 
    z-index: 10;
}

.image-carousel-container .carousel-btn .carousel-text {
    color: #051650; 
}

section.about-me {
    margin-top: 50px;
}
