body {
    font-family: 'Amatic SC', cursive;
    line-height: 3;
    margin: 0;
    padding: 0;
    color: #033668;
    background-color: rgba(255, 224, 224, 0.769)
}

header, section, footer {
    text-align: center;
    padding: 10px;
}

header {
    background: #78A2CC;
    color: #fff;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
    width: 100%; 
}

.header-logo {
    width: 50%; 
    height: auto; 
    max-height: 250px;
}

footer {
    background: #78A2CC;
    color: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.social-media-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.social-media-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 50px;
    margin: 10px;
    background-color: #006fb9;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.social-media-links svg {
    height: 30px;
    width: auto;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .social-media-links a {
        width: calc(50% - 20px); 
    }
}

.social-media-links .username {
    font-weight: bold;
}

.email-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;  
    height: 60px; 
    background-color: #006fb9;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
}

.email-icon {
    height: 30px; 
    width: 30px; 
    margin: 0 auto; 
}

.email-text {
    font-size: 12px; 
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}
.image-carousel-container {
    text-align: center;
    margin-top: 20px;
}

.carousel-btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #78A2CC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-carousel {
    display: flex;
    overflow: hidden;
}

.carousel-image {
    min-width: 100%; /* Adjust this to change the width */
    max-height: 300px; /* Set a max-height to control how tall the images can be */
    transition: transform 0.5s ease;
    display: none; /* Hide images initially */
}

.carousel-image.visible {
    display: block; /* Show the active image */
}
